/* Large desktops (1300px and below) */
@media (max-width: 1440px) {
    .skills{
        padding: 30px 10px;
    }
    .skills .skill-cards{
        margin: 40px 10px;
        gap: 20px;
    }
.skills .skill-cards .skill-card {
    width: 300px;
    padding: 15px 25px;
}
.skills .skill-cards .skill-card .icon{
    width: 45px;
    height: 45px;
}
}
/* Large desktops (1024px and below) */
@media (max-width: 1024px){
    .hero h1{
        font-size: 4rem;
    }
    .hero p{
        font-size: 1.2rem;
    }
    .hero .view-btn{
        font-size: 16px;
    }
    .skills{
        padding: 30px 0;
    }
    .skills h2{
        font-size: 2.7rem;
    }
    .skills .skill-cards{
        margin: 40px 0;
        gap: 0px;
    }
   .skills .skill-cards .skill-card{
        width: 260px;
        padding: 15px;
    }
    .skills .skill-cards .skill-card .icon{
        width: 40px;
        height: 40px;
    }
    .skills .skill-cards .skill-card h4{
        font-size: 1.1rem;
    }
    .projects h2{
        font-size: 2.7rem;
    }
.project-cards{
    margin: 40px 0;
}
.project-content h4{
    font-size: 1.1rem;
}
.contact h2{
    font-size: 2.7rem;
}
.contact button{
    font-size: 1rem;
}
footer p{
    font-size: 1rem;
}
}
/* Desktop (880px and below) */
@media (max-width: 880px){
    .skills .skill-cards .skill-card{
        width: 240px;
    }
}
/* Tablets (768px and up) */
@media (max-width: 768px){
    nav{
        padding: 10px 30px;
    }
    nav .logo h2{
        font-size: 1.3rem;
        font-weight: 400;
    }
    nav .links a{
        font-size: 1rem;
    }
    .skills{
        padding: 30px 15px;
    }
    .skills .skill-cards{
        gap: 15px;
    }
    .skills .skill-cards .skill-card{
        width: 95%;
    }
    .skills .skill-cards .skill-card .icon{
        width: 45px;
        height: 45px;
    }
    .skills .skill-cards .skill-card h4{
        font-size: 1.2rem;
    }
    .projects{
        padding: 30px 40px;
    }
    .projects .project-cards{
        grid-template-columns: auto;
    }

}
/* Large phones (640px and below) */
@media (max-width: 640px){
    nav{
        padding: 10px;
    }
    nav .logo h2{
        font-size: 1.3rem;
        font-weight: 400;
    }
    nav .links a{
        font-size: 1rem;
    }
    .hero h1{
        font-size: 3rem;
    }
    .hero p{
        margin-left: 3%;
        font-size: 1.1rem;
    }
    .hero .btn, .hero .view-btn{
        font-size: 14px;
        padding: 5px 15px;
    }
    .hero .view-btn span{
        font-size: 18px;
        margin: 0 3px;
    }
}
/* Small phones (480px and below) */
@media (max-width: 480px){
    .hero{
        padding: 2rem 2rem 50px;
    }
    .hero h1{
        font-size: 2.5rem;
    }
    .hero p{
        font-size: 1rem;
    }
    .skills h2,
    .projects h2,
    .contact h2{
        font-size: 2rem;
    }
    .skills p,
    .projects p,
    .contact p{
        font-size: 1rem;
    }
    .skills .skill-cards .skill-card .icon{
        width: 30px;
        height: 30px;
    }
    .skills .skill-cards .skill-card h4{
        font-size: 1rem;
    }
    .projects .project-content h4{
        font-size: 1rem;
    }
    .projects .project-content p{
        font-size: 14px;
    }
    .projects .project-content span{
        font-size: 12px;
    }
    .contact button{
        font-size: 14px;
    }
    .section-divider{
        margin: 30px auto 30px;
    }
}
/* Mini Screens (390px and below) */
@media (max-width:390px) {
    .hero h1{
        font-size: 2.3rem;
    }
    .skills h2,
    .projects h2,
    .contact h2{
        font-size: 1.8rem;
    }
}