* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #0d1625;
    color: #f8fafc;
    line-height: 1.6;
    overflow-x: hidden;
}

nav {
    background: #07071a9a;
    padding: 10px 80px;
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1e2227;
}
nav .logo{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
nav .logo h2{
    font-size: 1.5rem;
    font-weight: 500;
}
nav .logo .logo-box{
    background: linear-gradient(135deg, #9d07e2, #e207b3);
    width: 35px;
    height: 35px;
    border-radius: 10px;
}

nav .links a {
    text-decoration: none;
    color: #f8fafc;
    margin-right: 20px;
    font-size: 1.1rem;
}
nav .links a:hover,
nav .links a:active{
    color: #6d2c92;
}

.section-divider {
    width: 90%;
    height: 1px;
    background: #4b525b;
    margin: 60px auto 30px;
}

section{
    max-width: 1200px;
    margin: auto;
}
.hero {
    background: linear-gradient(135deg, var(--dark), var(--dark-linear));
    padding: 4rem 2rem 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .btn {
    padding: 10px 20px;
    border: 1px solid #602383;
    background: #121231;
    color: #9d4bcd;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1.6rem;
}

.hero h1 {
    font-size: 5rem;
    font-weight: 400;
}

.hero p {
    font-size: 1.3rem;
    color: #8496ae;
}

.hero .view-btn {
    padding: 10px 30px;
    border: 1px solid #602383;
    background: linear-gradient(135deg, #9d07e2, #e207b3);
    color: #fff;
    border-radius: 30px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 1.6rem;
    text-align: right;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.skills {
    padding: 30px 60px;
}

.skills h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.skills p {
    text-align: center;
    font-size: 1.1rem;
    color: #8496ae;
}

.skill-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
    margin: 40px 60px;
}

.skill-card {
    width: 350px;
    padding: 20px 40px;
    border: 1px solid #47505c;
    border-radius: 20px;
    text-align: left;
    transition: transform .5s ease;
}

.skill-card:hover {
    transform: translateY(-10px);
}

.skill-card .icon {
    background: linear-gradient(135deg, #9d4bcd, #e207b3);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    margin-bottom: 5px;
}

.skill-card h4 {
    font-size: 1.25rem;
}

.skill-card p {
    text-align: left;
    font-size: 18px;
    margin-top: 5px;
}

.projects {
    padding: 30px 60px;
}

.projects h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.projects p {
    text-align: center;
    font-size: 1.1rem;
    color: #8496ae;
}

/* PROJECT CARDS */
.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 40px 60px;
}

.project-card {
    border-radius: 20px;
    border: 1px solid #4b525b;
    overflow: hidden;
}

.card-inner {
    position: relative;
}

.img-wrapper {
    height: 200px;
    overflow: hidden;
    border-radius: 18px;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease;
}

.project-card:hover .img-wrapper img {
    transform: scale(1.8);
    filter: blur(2px);
}
.project-card:hover .hover-bg{
    background: #66699e6e;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
.project-content {
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s ease;
}

.project-card:hover .project-content {
    opacity: 1;
}

.project-content h4 {
    font-size: 1.25rem;
    text-align: left;
    margin: 0;
}

.project-content p {
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
    text-align: left;
    color: #cdd3dd;
}

.project-content span {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #4b525b;
    border-radius: 20px;
    font-size: 14px;
    background: #121231;
    margin-right: 6px;
    margin-bottom: 6px;
}
.contact{
    padding: 30px 60px;
    text-align: center;
}
.contact h2{
    font-size: 3rem;
    font-weight: 400;
}
.contact p {
    font-size: 1.1rem;
    color: #8496ae;
}
.contact .socials{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px;
}
.contact .socials a i{
    color: #cdd3dd;
    font-size: 25px;
    padding: 10px;
    border: 1px solid #4b525b;
    border-radius: 50%;
    transition: transform .5s ease;
}
.contact .socials a:hover i{
    background: #2d1d4c;
    transform: scale(1.08);
}
.contact button{
    background: #fff;
    color: #0d1625;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    transition: box-shadow .5s ease;
}
.contact button:hover{
    box-shadow: 0 7px 12px #fff;
}
footer{
    text-align: center;
    padding: 20px 50px 50px;
}
footer p{
    color: #8ea0bb;
    font-size: 1.1rem;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #2d1d4c;
}
::-webkit-scrollbar-thumb{
    background: #6d41869f;
    border-radius: 10px;
}